.header-logo-register {
    font-size: 40px;
    color: var(--default-color);
    font-weight: 300;
    display: flex;
}

.header-logo-icon-register {
}

.header-logo-name-register {
    font-size: 30px;
    font-weight: 500;
    margin-top: 7px;
    margin-left: 5px;
}
