.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item-link {
    text-decoration: none;
}

.product-item {
    width: 190px;
    height: 274px;
    padding: 5px;
    background-color: var(--white-color);
    margin: 5px 5px;
}

.product-item:hover {
    opacity: 0.6;
    border: 1px solid var(--default-color);
}

.product-item-img {
    width: 185px;
    height: 185px;
}

.product-item-title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.product-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.product-item-price {
    font-size: 1.6rem;
    color: var(--default-color);
}

.product-item-note {
    font-size: 1rem;
}
