.header-logo {
    font-size: 40px;
    color: var(--white-color);
    font-weight: 300;
    display: flex;
}

.header-logo-icon {
}

.header-logo-link {
    text-decoration: none;
}

.header-logo-name {
    font-size: 30px;
    margin-top: 7px;
    margin-left: 5px;
}
